$gray: #C8CACC;
$highlightTap: #000000;
$rail-bg: #F5F7FA;
$handle-bg: #FFFFFF;
$handle-bg--disabled: #666;
$track--valid: rgb(98, 203, 102);
$track--not-valid: rgb(214, 0, 11);
$tick-label: #77828C;

$track--disabled: repeating-linear-gradient( -45deg, transparent, transparent 3px, #D0D3D7 4px, #D0D3D7 2px);

.time_range__container {
  padding: 30px 10% 0;
  height: 70px;
  width: 90%;
  box-sizing: border-box;
}

.keyboard_handle {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.track {
  position: absolute;
  transform: translate(0%, -50%);
  height: 50px;
  cursor: pointer;
  transition: background-color .15s ease-in-out, border-color .15s ease;
  z-index: 3;
  &__disabled {
    @extend .track;
    z-index: 1;
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    background: $track--disabled;
  }
}

.rail {
  &__outer {
    position: absolute;
    width: 100%;
    height: 50px;
    transform: translate(0%, -50%);
    cursor: pointer;
  }
  &__inner {
    position: absolute;
    width: 100%;
    height: 50px;
    transform: translate(0%, -50%);
    pointer-events: none;
    background-color: $rail-bg;
    border-bottom: 1px solid $gray;
  }
}

.handle {
  &__wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-tap-highlight-color: $highlightTap;
    z-index: 6;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
  }
  &__container {
    position: absolute;
    display: flex;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 10px;
    height: 24px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.4);
    background-color: $handle-bg;
    &__disabled {
      @extend .handle__container;
      background-color: $handle-bg--disabled;
    }
  }
  &__marker {
    width: 2px;
    height: 12px;
    margin: auto;
    border-radius: 2px;
    background-color: $track--valid;
    transition: background-color .2s ease;
    &__error {
      @extend .handle__marker;
      background-color: $track--not-valid;
    }
  }
}

.tick {
  &__marker {
    position: absolute;
    margin-top: 20px;
    width: 1px;
    height: 5px;
    background-color: $gray;
    z-index: 2;
    &__large {
      @extend .tick__marker;
      margin-top: 15px;
      height: 10px;
    }
  }
  &__label {
    position: absolute;
    margin-top: 28px;
    font-size: 10px;
    text-align: center;
    z-index: 2;
    color: $tick-label;
    font-family: sans-serif;
  }
}
